<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Drinks</title>
</head>
<body>
    <h1 class="text-center mb-3">Drinks Menu</h1>
    {%  if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    {%  if drinks_list %}
        <table class="table table-hover">
            <caption>List of all Drinks</caption>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Drink ID</th>
                    <th scope="col">Drink Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Price</th>
                    <th scope="col">Extras</th>
                    <th scope="col">Supplier ID</th>
                </tr>
            </thead>
            <tbody>
                {% for drink in drinks_list %}
                <tr>
                    <th>{{ drink.drinkItemId }}</th>
                    <th>{{ drink.drinkName }}</th>
                    <th>{{ drink.drinkType }}</th>
                    <th>{{ drink.price }}</th>
                    <th>{{ drink.extras }}</th>
                    <th>{{ drink.supplierId }}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    <p>No drinks have been found in the database.</p>
    {%  endif %}

    <div class="container my-5">
        <div class="row justify-content-center">

            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                            <div class="card-header">
                        <h2 class="text-center mb-3">Add a new Drink</h2>
    </div>
                                <div class="card-body text-center">
    <form method="POST" action="{{ url_for('add_drink') }}">
        <div class="mb-3">
        <label>Drink Name</label><br>
        <input type="text" name="name" placeholder="Enter Drink Name" required/>
        </div>
        <div class="mb-3">
        <label>Type</label><br>
        <input type="text" name="drink_type" placeholder="Enter Drink Type" required/>
        </div>
        <div class="mb-3">
        <label>Price (Format 4.50)</label><br>
        <input type="text" name="price" placeholder="Enter Price" required/>
        </div>
        <div class="mb-3">
        <label>Extras</label><br>
        <input type="text" name="extras" placeholder="Enter Extras" required/>
        </div>
        <div class="mb-3">
        <label>Supplier ID</label><br>
        <input type="text" name="supplier_id" placeholder="Enter Supplier ID" required/>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
    </div>
    </div>
    </div>

    <div class="col-md-4 mb-4">
                        <div class="card shadow-sm">
                            <div class="card-header">
    <h2 class="text-center mb-3">Update a Drink</h1>
    </div>
                                <div class="card-body text-center">
    <form method="POST" action="{{ url_for('update_drink') }}">
         <div class="mb-3">
        <label>Drink ID</label><br>
        <input type="text" name="drink_id" placeholder="Enter Drink ID" required/>
        </div>
           <div class="mb-3">
        <label>Drink Name</label><br>
        <input type="text" name="name" placeholder="Enter Drink Name" required/>
        </div>
        <div class="mb-3">
        <label>Type</label><br>
        <input type="text" name="drink_type" placeholder="Enter Drink Type" required/>
        </div>
        <div class="mb-3">
        <label>Price (Format 4.50)</label><br>
        <input type="text" name="price" placeholder="Enter Price" required/>
        </div>
        <div class="mb-3">
        <label>Extras</label><br>
        <input type="text" name="extras" placeholder="Enter Extras" required/>
        </div>
        <div class="mb-3">
        <label>Supplier ID</label><br>
        <input type="text" name="supplier_id" placeholder="Enter Supplier ID" required/>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
    </div>
    </div>
    </div>

<div class="col-md-4 mb-4">
                    <div class="card shadow-sm">
                            <div class="card-header">
    <h2 class="text-center mb-3">Delete a Drink</h1>
    </div>
                                <div class="card-body text-center">
    <form method="POST" action="{{ url_for('delete_drink') }}">
        <div class="mb-3 text-center">
        <label>Drink ID</label>
        <br>
        <input type="text" name="drink_id" placeholder="Enter Drink ID" required/>
        </div>
                        <button type="submit" class="btn btn-primary">Delete</button>
    </form>
    </div>
</div>
</div>
</div>
</div>
    <a href="/dashboard">Back to Dashboard</a>
</div>
</body>
</html>